<footer class="text-center text-white py-3" id="nav">
  <div class="container p-4">
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-floating m-1 text-white" style="background-color: #3b5998;" href="#!" role="button"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-floating m-1 text-white" style="background-color: #55acee;" href="#!" role="button"><i
          class="fab fa-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-floating m-1 text-white" style="background-color: #ac2bac;" href="#!" role="button"><i
          class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-floating m-1 text-white" style="background-color: #0082ca;" href="#!" role="button"><i
          class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-floating m-1 text-white" style="background-color: #333333;" href="#!" role="button"><i
          class="fab fa-github"></i></a>
    </section>
    <div class="d-flex">
      <ul class="list-unstyled mb-0 d-flex w-100 justify-content-around">
        <li>
          <a href="#!" class="text-decoration-none text-white">Mentions légales</a>
        </li>
        <li>
          <a href="#!" class="text-decoration-none text-white">Gestion des cookies</a>
        </li>
        <li>
          <a href="#!" class="text-decoration-none text-white">Politique de confidentialité</a>
        </li>
        <li>
          <a href="#!" class="text-decoration-none text-white">CGU</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgb(25, 25, 25);">
    © 2023
  </div>
  </div>
</footer>
