<div data-search-bar-target="list">
  <% if params[:query].blank? %>
    <p>Il n'y a pas d'agents</p>
  <% else %>
    <p><% @agents.each do |agent| %>
      <%= link_to agent.first_name, agent_path(agent) %>
    <% end %></p>
  <% end %>
</div>
