<div class="container mt-5">

  <h1> Mes agents </h1>
  <div class="d-flex justify-content-between">
      <form class="d-flex" role="search">
        <input class="form-control me-2 rounded-4" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success rounded-4" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-outline-primary rounded-4">Ajouter un agent</button>
    </div>

  <br>

  <table class="table table-dark table-hover text-center">
    <thead class="table-dark">
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Id</th>
        <th colspan="2">Actions</th>
        <th>Voir</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>Dark</td>
        <td>Vador</td>
        <td>1</td>
        <td>
          <i class="fa-solid fa-pen-to-square"></i>
        </td>
        <td>
          <i class="fa-solid fa-trash"></i>
        </td>
        <td>
          <i class="fa-solid fa-eye"></i>
        </td>
      </tr>

      <tr>
        <td>Obiwan</td>
        <td>Kenobi</td>
        <td>2</td>
        <td>
          <i class="fa-solid fa-pen-to-square"></i>
        </td>
        <td>
          <i class="fa-solid fa-trash"></i>
        </td>
        <td>
          <i class="fa-solid fa-eye"></i>
        </td>
      </tr>

    </tbody>
  </table>

</div>
